@import '/src/assets/scss/variables.scss';

.cart {
    flex: 1;
    margin: 10px 0;

    .cart-title {
        font-size: $font-size-xl;
        color: $lePink;
        padding: 10px 0 0 10px;
    }

    .cart-wrapper {
        width: 90%;
        margin: 10px auto;
        background-color: $lightGray;
        box-shadow: $base-box-shadow;
        border-radius: $base-border-radius;
        overflow: hidden;
    }
}