@import '/src/assets/scss/variables.scss';

.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 25%;
        padding: $base-padding;
        background-color: $white;

        form {
            display: flex;
            flex-direction: column;

            input {
                flex: 1;
                min-width: 40%;
                margin: $base-margin 0;
                padding: $base-padding;
                outline: none;
            }

            button {
                padding: $base-padding 5px;
                background-color: $leDarkPink;
                font-size: $base-font-size;
                color: $leSand;
                border: 1px solid $leDarkPink;
                border-radius: $base-border-radius;
                cursor: pointer;
                transition: opacity 0.4s;

                &:hover {
                    opacity: 0.9;
                }

                &:disabled{
                    opacity: 0.3;
                    cursor: not-allowed;
                }
            }

            span {
                margin-top: 5px;
                color: $red;
            }

            a {
                margin: $base-margin 0px;
                font-size: $base-font-size;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}