@import '/src/assets/scss/variables.scss';
@import '/src/assets/scss/grid.scss';

.products {
    margin: 0 $base-margin;

    h2 {
        font-size: $font-size-xl;
        color: $lePink;
        padding: $base-padding;
    }

    .products-wrapper {
        display: flex;
        flex-wrap: wrap;

        .card-wrapper {
            margin: 10px 0;
        }
    }
}