@import '/src/assets/scss/variables.scss';
@import '/src/assets/scss/grid.scss';

.products {
    flex: 5;
    margin: 10px 0;

    h2 {
        font-size: $font-size-xl;
        color: $lePink;
        padding: 10px 0 0 10px;
    }

    .products-wrapper {
        display: flex;
        flex-wrap: wrap;

        .card-wrapper {
            margin: 10px 0;
        }
    }
}