@import '/src/assets/scss/variables.scss';

.cart {
    padding: $base-padding;
    width: 90%;
    margin: 0 auto;

    h1 {
        font-weight: 300;
        text-align: center;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $base-margin;

        button {
            padding: $base-padding 5px;
            background-color: $leDarkPink;
            font-size: $base-font-size;
            color: $leSand;
            border: 1px solid $leDarkPink;
            border-radius: $base-border-radius;
            cursor: pointer;
            transition: opacity 0.4s;

            &:hover {
                opacity: 0.9;
            }
        }

        span {
            text-decoration: underline;
            cursor: pointer;
            margin: 0px $base-margin;
        }
    }
    
    .bottom {
        display: flex;
        justify-content: space-between;

        .info {
            flex: 3;

            .cartProduct {
                display: flex;
                justify-content: space-between;
                margin-bottom: $base-margin;
                border-radius: $base-border-radius;
                background-color: $white;

                .productDetail {
                    flex: 2;
                    display: flex;

                    img {
                        width: 200px;
                        border-radius: $base-border-radius;
                    }

                    .details {
                        padding: $base-padding;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                }

                .priceDetail {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .productAmountContainer {
                        display: flex;
                        align-items: center;
                        margin-bottom: $base-margin;

                        .productAmount {
                            font-size: $base-font-size;
                            margin: $base-margin;
                        }
                    }

                    .productPrice {
                        font-size: $font-size-xl;
                        font-weight: 200;
                    }
                }
            }
        }

        .summary {
            flex: 1;
            background-color: $white;
            border-radius: $base-border-radius;
            padding: 20px;
            margin: 0 0 0 20px;
            height: 50vh;

            h2 {
                font-weight: 200;
            }

            .summaryItem {
                margin: 30px 0px;
                display: flex;
                justify-content: space-between;
                font-weight: 400;
                font-size: $base-font-size;
            }

            button {
                padding: $base-padding 5px;
                background-color: $leDarkPink;
                font-size: $base-font-size;
                color: $leSand;
                border: 1px solid $leDarkPink;
                border-radius: $base-border-radius;
                cursor: pointer;
                transition: opacity 0.4s;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}