@import '/src/assets/scss/variables.scss';

.product {
    display: flex;
    flex-direction: column;
    background-color: $lightGray;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    overflow: hidden;

    .img-wrapper {
        display: flex;
        height: 40vh;
        cursor: pointer;

        img {
            padding: $base-padding;
            object-fit: cover;
            border-radius: $base-border-radius;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;

        .title-wrapper {
            border-bottom: 1px solid $leDarkPink;
            font-size: $base-font-size;
            cursor: pointer;
        }

        .price-wrapper {
            padding: $base-padding 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                font-size: $base-font-size;
                padding: $base-padding;
                border: 1px solid $leDarkPink;
                border-radius: $base-border-radius;
            }

            button {
                padding: $base-padding;
                background-color: $leDarkPink;
                font-size: $base-font-size;
                color: $leSand;
                border: 1px solid $leDarkPink;
                border-radius: $base-border-radius;
                cursor: pointer;
                transition: opacity 0.4s;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}



.amountContainer {
    display: flex;
    align-items: center;

    .amount{
        cursor: pointer;
    }

    span {
        margin: 0 $base-margin;
        border: 1px solid $leDarkPink;
        padding: $base-padding;
        border-radius: $base-border-radius;
    }
}
